<h1> hi </h1>

<table>
    # <tr>
    #     <td>Birthdate: <%= #@cat.birth_date %></td>
    # </tr>
    # <tr>
    #     <td>Color: <%= #@cat.color %></td>
    # </tr>
    # <tr>
    #     <td>Sex: <%= #@cat.sex %></td>
    # </tr>
    # <tr>
    #     <td>Description: <%= #@cat.description %></td>
    # </tr>
</table>
